<div class="single-page" id="gartenmagazin">
	<iframe class="gartenmagazin-iframe" src="https://azana.de/aktuell/schneider/start.php" name="S" frameborder="0" height="504" scrolling="auto" width="100%">&amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;p&amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;font
face="Arial,Helvetica"&amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;Ihr
Browser
kann
leider
keine
eingebetteten
Frames anzeigen: Um die Seite in einem neuen Fenster zu
&amp;amp;amp;amp;amp;amp;Atilde;&amp;amp;amp;amp;amp;amp;para;ffnen,
klicken
Sie bitte: &amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;a
href="http://www.azana.de/aktuell/schneider/start.php"
1"&amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;hier&amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/a&amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/font&amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/center&amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;
  </iframe>
</div>