<div class="single-page" id="kontakt">
	<h2>Kontakt</h2>
	<div class="kontakt-all">
		<div id="kontakt-daten">
			<h4>Garten- und Landschaftsbau<br>
			Inhaber: Kurt Schneider, Gartenbautechniker</h4>
			<p>
				Seehauser Straße 19,<br>
				81379 München<br><br>

				Telefon: (089) 714 52 15<br>
				Telefax: (089) 714 62 10<br><br>

				E-Mail: <%= link_to "schneider@gartenbau-muenchen.com", 'mailto:schneider@gartenbau-muenchen.com' %><br>
				Internet: <%= link_to "www.gartenbau-muenchen.com", root_path %>
			</p>
		</div>
		<div id="kontakt-skizze">
			<%= image_tag "karte.jpg"%>
		</div>
	</div>
</div>	