<% 
	page = params[:ref_page].to_i 
	if page == 1
		left_page = 8
	else
		left_page = page - 1
	end
	if page == 8
		right_page = 1
	else
		right_page = page + 1
	end
%>
<main class="referenzen-main">
	<p id="referenzen-close"><%= link_to (fa_icon "window-close"), referenzen_path, class:'referenzen-icons' %></p>
	<div class="referenzen-overlay">
		<div class="referenzen-arrow" id="referenzen-left-arrow">
			<%= link_to (fa_icon "arrow-alt-circle-left"), "/referenzen/#{left_page}", class:'referenzen-arrow-link' %>
		</div>
		<div class="referenzen-image">
			<%= image_tag("ref_#{page}.jpg", id:"ref_image") %>
		</div>
		<div class="referenzen-arrow" id="referenzen-right-arrow">
			<%= link_to (fa_icon "arrow-alt-circle-right"), "/referenzen/#{right_page}", class:'referenzen-arrow-link' %>

		</div>
	</div>
	<% if page == 1 %>
		<p id="referenzen-text">Quellstein mit Trockenbeet</p>
	<% elsif page == 2 %>
		<p id="referenzen-text">Beetgestaltung Grün mit Stein</p>
	<% elsif page == 3 %>
		<p id="referenzen-text">Grünflächengestaltung</p>
	<% elsif page == 4 %>
		<p id="referenzen-text">Natursteinplatten auf Terrassenfläche</p>
	<% elsif page == 5 %>
		<p id="referenzen-text">Kleinsteinpflaster in Reihen verlegt</p>
	<% elsif page == 6 %>
		<p id="referenzen-text">Betonpflaster, minimalistisch, zweckmäßig</p>
	<% elsif page == 7 %>
		<p id="referenzen-text">Gartenausschnitt mit Holzterrasse und Betonpflaster</p>
	<% elsif page == 8 %>
		<p id="referenzen-text">Holzterrasse als Lounge-Bereich</p>
	<% end %>

</main>