<% provide :page_title, "Über uns" %>

<main class="main-content">
	<div class="single-page" id="ueber-uns">
		<h2>Wer wir sind</h2>
		<p>
			Die Firma Kurt Schneider wurde 1987 als Einzelfirma gegründet und führt ihre Arbeiten von dem Firmensitz in der Seehauser Str. 19 aus im Umfeld der Landeshauptstadt München. <br>
			Seinen Berufsabschluss als Gartenbautechniker, Fachrichtung Garten- und Landschaftsbau erlangte Kurt Schneider 1981 in Stuttgart-Hohenheim.<br><br>
			Die Firma Kurt Schneider ist ein anerkannter Ausbildungsbetrieb und hat in der Vergangenheit viele Ausbildende zu ihrem Berufsziel geführt. Als Mitglied des Prüfungsausschusses im Fachbereich Garten- und Landschaftsbau führt Kurt Schneider die anstehenden Abschlussprüfungen mit aus.<br>				
			Weitere Aktivitäten ist die Mitgliedschaft und Funktion als Schatzmeister im DGGL - Deutsche Gesellschaft für Gartenkunst und Landschaftskultur Bayern-Süd.
		</p>
	</div>
</main>