<footer class="footer-all">
	<div class="footer-all-divs">
		<div class="footer-div" id="footer-contact-data">
			Garten- und Landschaftsbau<br>
			Kurt Schneider<br>
			Seehauser Strasse 19<br>
			81379 München
			<p>
				Tel: (089) 714 52 15<br>
				Mobil: (0171) 825 79 08<br>
				Fax: (089) 717 62 10<br>
				E-Mail: schneider@gartenbau-schneider.com
			</p>
			<p id="footer-datenschutz-impressum">
				<span id="datenschutz-link"><%= link_to("Datenschutzerklärung", datenschutz_path) %></span>
				<span id="impressum-link"><%= link_to("Impressum", impressum_path) %></span>
			</p>
		</div>
		<div class="footer-div" id="footer-google-maps">
			<iframe width="750px;" height="250px;" src="https://www.openstreetmap.org/export/embed.html?bbox=11.518022418022158%2C48.10601985514942%2C11.520524919033052%2C48.10730223577465&amp;layer=mapnik&amp;marker=48.106661049461586%2C11.519273668527603" ></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=48.10666&amp;mlon=11.51927#map=19/48.10666/11.51927" class="open-street-link">Größere Karte anzeigen</a></small>
		</div>
	</div>
</footer>